.jfx-panelfondo{
    -fx-background-color:#099176;
}

.jfx-contenedor-principal{
     -fx-background-color:#00ffff;
    -fx-background-radius:4.0;
    -fx-effect:dropshadow(gaussian,rgba(0.0,0.0,0.0,0.15),10.0,0.7,0.0,1.5);
    -fx-padding:25 15 15 15;
}

.mfx-text-field1 {
  -mfx-main: #00ffff; /* Color principal para el enfoque */
  -fx-background-color: #00ffff; /* Fondo */
  -fx-background-radius: 8; /* Bordes redondeados */
  -fx-border-color: #00bfff; /* Borde */
  -fx-border-radius: 8; /* Bordes redondeados */
  -fx-border-width: 2; /* Borde más grueso */
  -fx-padding: 10; /* Espacio interior */
  -fx-font-family: "Open Sans", sans-serif; /* Fuente moderna y limpia */
  -fx-font-size: 14px; /* Tamaño de la fuente */
  -fx-text-fill: #000000; /* Texto blanco para contraste */
}

.mfx-text-field1:focus-within {
  -fx-background-insets: 2;
  -fx-border-color: #00bfff; /* Borde al enfocar */
  -fx-border-width: 2; /* Mantiene el ancho del borde */
  -fx-border-insets: 0.1;
}

.mfx-text-field1.floating-text {
  -fx-font-family: "Open Sans", sans-serif; /* Fuente moderna y limpia */
  -fx-font-weight: bold; /* Texto en negrita */
  -fx-text-fill: #000000; /* Texto */
}

.mfx-text-field1:floating .floating-text {
  -fx-background-color: #00ffff; /* Fondo */
  -fx-text-fill: #000000; /* Texto */
}

.mfx-combo-box {
  -mfx-track-color: #00ffff; /* Fondo */
  -mfx-thumb-color: #00bfff; /* Color del thumb */
  -mfx-thumb-hover-color: #00ffff; /* Color del thumb al pasar el cursor */
  -mfx-gap: 0;
  -fx-padding: 6 10 6 10; /* Espacio interior */
  -fx-background-color: #00ffff; /* Fondo */
  -fx-border-color: #00bfff; /* Borde */
  -fx-border-radius: 10; /* Bordes redondeados */
  -fx-border-width: 2; /* Borde más grueso */
  -fx-font-family: "Open Sans", sans-serif; /* Fuente moderna y limpia */
  -fx-font-size: 14px; /* Tamaño de la fuente */
  -fx-text-fill: #000000; /* Texto blanco para contraste */
}

.mfx-combo-box .caret .mfx-ripple-generator {
  -mfx-ripple-color: rgba(0, 191, 255, 1); /* Ripple */
  -mfx-ripple-radius: 20; /* Ripple más grande */
}

.mfx-combo-box:focus-within .caret .mfx-font-icon {
  -mfx-color: #00bfff; /* Color cuando está enfocado */
}

.mfx-combo-box .combo-popup .virtual-flow {
  -fx-background-radius: 10; /* Bordes redondeados para el popup */
  -fx-border-color: #00bfff; /* Borde del popup */
  -fx-border-radius: 10; /* Radio del borde del popup */
  -fx-background-color: #00ffff; /* Fondo del popup */
}

.mfx-combo-box:disabled .caret .mfx-font-icon {
  -mfx-color: #555555; /* Color del caret cuando está deshabilitado */
}
/* Estilo para el texto flotante en el ComboBox */
.mfx-combo-box .floating-text {
  -fx-font-family: "Open Sans", sans-serif; /* Fuente moderna y limpia */
  -fx-text-fill: black; /* Texto negro */
}
.backgroundPrincipal  {
     -fx-background-image: url("../resources/mainFund.png");

    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.backgroundFondoPrincipal  {
     -fx-background-image: url("../resources/fondoPrincipal.png");

    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.backgroundAbout {
     -fx-background-image: url("../resources/acerca.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.menu-button-custom {
    -fx-background-color: #2980b9; /* Color de fondo del botón */
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 16px;
    -fx-background-radius: 5px; /* Radio de las esquinas */
    -fx-border-radius: 5px; /* Radio del borde */
}

.menu-button-custom:hover {
    -fx-background-color: #00ffff; /* Color de fondo al pasar el cursor */
}

/* Estilo para el menú desplegable */
.menu-button-custom .menu-item {
    -fx-background-color: #2980b9; /* Color de fondo del menú desplegable */
    -fx-text-fill: black; /* Color del texto del menú desplegable */
}

.menu-button-custom .menu-item:hover {
    -fx-background-color: #B3E5FC; /* Color de fondo al pasar el cursor sobre los elementos del menú */
}

.menu-button-custom .menu-item:selected {
    -fx-background-color: #81D4FA; /* Color de fondo al seleccionar un elemento del menú */
}

#imgSalir{
     -fx-image: url("../resources/salir.png");
}

#imgLogo{
     -fx-image: url("../resources/LogoSinfondo.png");
}

#imgSalir:hover{
     -fx-image: url("../resources/salirHover.png");
}

#imgRuleta{
     -fx-image: url("../resources/ruleta.png");
}

#imgGirar{
     -fx-image: url("../resources/btnGirar.png");
}

.imgHowtoPlay1 {
    -fx-background-image: url("../resources/triviador.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.imgHowtoPlay2 {
    -fx-background-image: url("../resources/desafia_a_tus_amigos.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.imgHowtoPlay3 {
    -fx-background-image: url("../resources/modalidades.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.imgHowtoPlay4 {
    -fx-background-image: url("../resources/ayudas.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}


.jfx-titulo-label{
    -fx-font-size:24.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: #33ffff;
    -fx-text-fill:  -fx-base-color-titulos;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 51, 204, 1),2,0.0,1,2);
}

/********************
Table View
********************/
.mfx-table-view {
  -fx-background-color: #E0F7FA; /* Fondo celeste claro */
  -fx-background-radius: 10; /* Aumentar el redondeo */
  -fx-border-color: #00ACC1; /* Borde celeste más oscuro */
  -fx-border-width: 2px; /* Grosor del borde */
  -fx-border-radius: 10; /* Aumentar el redondeo */
  -fx-padding: 5; /* Añadir algo de padding */
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 0, 4); /* Sombra para un efecto más atractivo */
}

.mfx-table-view .columns-container {
  -fx-border-color: transparent transparent #00ACC1 transparent; /* Borde inferior celeste */
  -fx-background-color: #B2EBF2; /* Fondo ligeramente más oscuro */
  -fx-padding: 5; /* Añadir padding para espacio */
  -fx-border-width: 2px; /* Grosor del borde */
}

.mfx-table-view .default-footer {
  -fx-border-color: #00ACC1 transparent transparent transparent; /* Borde superior celeste */
  -fx-padding: 10; /* Mantener el padding */
  -fx-background-color: #E0F7FA; /* Fondo celeste claro */
  -fx-border-width: 2px; /* Grosor del borde */
}

.mfx-table-view .default-footer .mfx-icon-wrapper .mfx-ripple-generator {
  -mfx-ripple-radius: 18; /* Mantener el radio del ripple */
  -fx-background-color: #4DD0E1; /* Color del ripple */
}

/********************
Table Columns
********************/
.mfx-table-column {
  -fx-border-color: transparent transparent #00ACC1 transparent; /* Borde inferior celeste */
  -fx-background-color: #B2EBF2; /* Fondo celeste ligeramente más oscuro */
  -fx-padding: 10 15; /* Ajuste de padding */
}

.mfx-table-column:hover,
.mfx-table-column:dragged {
  -fx-border-color: transparent #00ACC1 transparent transparent; /* Borde celeste más oscuro al pasar el ratón */
  -fx-background-color: #B2EBF2; /* Fondo celeste ligeramente más oscuro */
}

/********************
Table Rows
********************/
.mfx-table-row {
  -fx-background-color: #E0F7FA; /* Fondo celeste claro */
}

.mfx-table-row:hover {
  -fx-background-color: #E0F7FA; /* Fondo celeste claro */
}

.mfx-table-row:selected{
  -fx-background-color: #80DEEA; /* Fondo celeste más oscuro al seleccionar */
}

/********************
Table Row Cells
********************/
.mfx-table-row-cell {
  -fx-background-color: #E0F7FA; /* Fondo celeste claro */
  -fx-padding: 5 15; /* Ajuste de padding */
}

/********************
Virtual Flow
********************/
.mfx-table-view .virtual-flow {
  -fx-background-color: #E0F7FA; /* Fondo celeste claro */
  -track-color: #B2EBF2; /* Color de la pista */
  -thumb-color: #00ACC1; /* Color del thumb */
  -thumb-hover-color: #007BFF; /* Color del thumb al pasar el ratón */
}
/*SEPARTOR*/
#separator {
  width: 100%;
  height: 5px;
  background-color: #00BFFF; /* Color celeste */
  margin: 20px 0;
}
/*Botones*/
.mfx-button {
  -fx-font-family: "Open Sans Regular";
  -fx-text-fill: -mfx-text-he;
  -fx-background-color: #ADD8E6; /* Color celeste */
  -fx-background-radius: 3px;
  -fx-background-insets: 0px;
  -fx-border-color: #5DADE2; /* Borde más oscuro para mejor visibilidad */
  -fx-border-radius: 3px;
  -fx-border-width: 1px;
}

.mfx-button:armed,
.mfx-button:hover,
.mfx-button:focused {
  -fx-background-color: #87CEEB; /* Color celeste más oscuro cuando se interactúa */
  -fx-border-color: #3498DB; /* Borde más oscuro cuando se interactúa */
}

.mfx-button:focused {
  -fx-background-color: #00BFFF; /* Color celeste brillante cuando está enfocado */
  -fx-border-color: #1E90FF; /* Borde aún más oscuro cuando está enfocado */
}

.mfx-button:disabled {
  -fx-background-color: #B0C4DE; /* Color celeste grisáceo cuando está deshabilitado */
  -fx-border-color: #A9A9A9; /* Borde gris cuando está deshabilitado */
}



